/*=== GERAL =================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 210;
  --primary-color: hsl(var(--hue), 100%, 60.47%);
  --orange-asp: #f49322;
  --whats-color: #00a884;
  --whats-color-change: #44c666;
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(0, 0%, 100%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  /* --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%); */
  /*--brand-light: hsl (217, 16%, 85%);*/
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);

  --bg-light: hsl(180, 14%, 97%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "DM Sans";
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--bg-light);
}

/* --- POUP UP --- */

body.no-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
}

.popup {
  max-width: 70% !important; /* Adicione !important para garantir prioridade */
  width: auto; /* Use auto para permitir que o conteúdo determine a largura */
  margin: 0 auto; /* Centralize o pop-up horizontalmente */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
}

.popup-content {
  text-align: justify;
  max-height: 70vh;
  overflow-y: auto;
  width: 100%;
  padding: 1rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#politica {
  background: none;
  border: none;
  color: white;
  font-size: inherit;
  text-decoration: underline;
}

#politica:hover {
  color: black;
}

.pdf-button {
  color: white;
  text-decoration: underline;
}

.pdf-button:hover {
  color: black;
}

/* FINAL */

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}

.button {
  background: var(--primary-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}

#orangecolor {
  margin-bottom: 3rem;
}

.button:hover {
  background-color: var(--brand-dark);
}

#whatscolor {
  background-color: var(--whats-color);
}

#whatscolor:hover {
  background-color: var(--whats-color-change);
}

#orangecolor:hover {
  background-color: var(--orange-asp);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/* custom colors */
#services .card circle {
  fill: var(--orange-asp);
}

#navigation .logo path[fill*="#00856F"],
#backToTopButton circle {
  fill: var(--primary-color);
}

button.open-menu path[stroke*="#00856F"],
#contact li path {
  stroke: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
  fill: white;
}

#navigation.scroll button.open-menu path[stroke*="#00856F"] {
  stroke: white;
}

/*=== NAVIGATION =================================*/
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*=== MENU-EXPANDED =================================*/
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: var(--whats-color);
  border-radius: 4rem;
  border: solid;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: white;

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover {
  background-color: var(--whats-color-change);
  color: white;

  /* filter: brightness(1.3); */
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*=== #HOME =================================*/
#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: "";
  width: 100%;
  height: calc(76% + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .button {
  margin-inline: auto;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 100%;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

/*=== SERVICES =================================*/

#destaque {
  color: var(--orange-asp);
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

#services .card p {
  text-align: justify;
}

#services header h2 {
  margin-bottom: 1rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: center;

  background: white;

  border: 1px solid var(--orange-asp);
  border-radius: 0.6rem;
}

#services .card h2 {
  margin-block: 1.6rem;
}

#card-clicavel {
  text-decoration: none;
  color: inherit;
}

/*=== ABOUT =================================*/
#about {
  text-align: justify;
  background-color: var(--brand-beige);
}

.col-b img {
  border-radius: 10px; /* ou qualquer valor desejado em pixels */
  overflow: hidden;
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/*=== CONTACT =================================*/
#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#texto-contato-h3 {
  margin-top: 3.2rem;
}

/*=== FOOTER =================================*/
footer {
  background-color: var(--primary-color);
  padding-block: 6rem;

  text-align: left;

  color: white;
}

footer .logo {
  width: 23rem;
  height: 3.1rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: white;
}

footer p {
  color: var(--brand-beige);
  line-height: 2;

  margin-bottom: 3.2rem;
}

footer .social-links {
  margin-top: 3rem;
  justify-content: flex-start;
}

/* BACK TO TOP */
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*=== OCULTA TELEFONE QUANDO CELULAR ==============*/

@media screen and (max-width: 1024px) {
  #telefonefixo {
    display: none !important;
  }
}

@media screen and (min-width: 1023px) {
  #orangecolor {
    display: none !important;
    margin-bottom: 3rem;
  }
}

/*=== RESPONSIVO =================================*/

@media (min-width: 1024px) {
  /*=== GERAL =================================*/
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /*=== NAVIGATION =================================*/
  /* reset */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    background-color: var(--whats-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--bg-light);
    border-radius: 4rem;

    color: var(--bg-light);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background-color: var(--whats-color-change);

    border: 1px solid white;
    border-radius: 4rem;
    color: white;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light-2);
    opacity: 0.6;
  }

  nav#navigation.scroll .menu a.button {
    background-color: var(--whats-color);
    border-color: white;
    color: white;
    /*filter: brightness(1.3);*/
  }

  nav#navigation .menu li a {
    transition: opacity 0.4s;
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);

    position: relative;
    bottom: -2rem;
    left: -0.5rem;

    display: block;

    transition: width 0.2s;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }

  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    background-color: var(--whats-color-change);
    border: 1px solid white;
    border-radius: 4rem;
    /*filter: brightness(1.3);*/
  }

  /*=== HOME =================================*/
  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      "A B"
      "C C";
  }

  #home .col-a {
    text-align: left;
    align-self: center;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home .stats {
    grid-area: C;

    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  #home .stats .stat {
    flex: 1;
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  /*=== SERVICES =================================*/
  #services h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #services .cards {
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1;
  }

  #card-clicavel {
    text-decoration: none;
    color: inherit;
  }

  /*=== ABOUT =================================*/
  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: "B A";
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .content p {
    text-align: justify;
    margin-bottom: 0;
  }

  /*=== CONTACT =================================*/

  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: "A B";
  }

  #contact h2 {
    width: 40.4rem;
  }

  /*=== FOOTER =================================*/
  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A B";
  }

  footer .col-a {
    align-self: center;
  }
  /*
  footer .col-c {
    align-self: center;
    justify-self: flex-end;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'A c B';
  }
*/
  footer .col-b {
    align-self: center;
    justify-self: flex-end;
  }

  footer p {
    margin-bottom: 0;
  }
}



/* POPUP PRINCIPAL SMARTPHONE */

@media screen and (max-width: 1023px) {
  .custom-popup h2 {
    position: fixed;
    color: var(--orange-asp);
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    z-index: 10005;
    font-size: 2rem;
  }

  .custom-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 9999; /* Ajustado o valor do z-index para garantir que o popup esteja acima de outros elementos */
  }

  .custom-popup-content {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--brand-beige);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    z-index: 10000; /* Ajustado o valor do z-index para garantir que o conteúdo do popup esteja acima do fundo */
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 3rem;
    color: var(--brand-beige);
    z-index: 10001; /* Ajustado o valor do z-index para garantir que o botão de fechar esteja acima do conteúdo do popup */
  }

  #services-interno {
    text-align: justify;


    max-height: 60vh;
    max-width: 50vh;
    overflow-y: auto;
    padding: 1rem;
  }
  #services-interno .cards {
    min-width: 30vh;
    flex-direction: row;
    flex-wrap: wrap;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 3.2rem;
  }

  #services-interno .card {
    max-width: 30vh;
    width: 100%;
    flex-grow: 1;
    padding: 1.4rem;
    text-align: center;

    background: white;

    border: 1px solid var(--orange-asp);
    border-radius: 0.6rem;
  }

  #services-interno .card #icone-card{
    max-width: 20%;
  }

  #services-interno .card p {
    text-align: justify;
    padding-top: 1rem;
    font-size: 1.2rem;
  }

  #services-interno .card h3 {
    
    font-size: 1.2rem;
  }
}

/* POPUP PRINCIPAL DESKTOP */

@media screen and (min-width: 1024px) {
  .custom-popup h2 {
    position: fixed;
    color: var(--orange-asp);
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    z-index: 10006;
  }
  .custom-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 9999;
  }

  .custom-popup-content {
    display: flex;
    min-width: 130vh;
    min-height: 80vh;
    max-height: 90vh;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--brand-beige);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    z-index: 10000;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 3rem;
    color: var(--brand-beige);
    z-index: 10001;
  }

  #services-interno {
    display: flex;
  }

  #services-interno .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #services-interno .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
    margin: 1rem;
    justify-content: space-between;
    flex: 1;
  }

  #services-interno .card {
    flex-basis: 30%;

    padding: 1.4rem;

    background: white;
    border: 1px solid var(--orange-asp);
    border-radius: 0.6rem;

    justify-content: center;
    align-items: center;
  }

  #services-interno .card p {
    text-align: justify;
    padding-top: 1rem;
    font-size: 1.2rem;
  }

  #services-interno .card img {
    max-width: 20%;
  }

  #services-interno .card h3 {
    font-size: 1.5rem;
  }
}

/* POPUP PRINCIPAL */

@media screen and (min-width: 1024px) {
  #customPopup2 .custom-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    z-index: 9999;
  }

  #customPopup2 .custom-popup-content {
    display: flex;
    min-width: 160vh;
    min-height: 40vh;
    max-height: 90vh;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--brand-beige);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    z-index: 10000;
  }

  #customPopup2 .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 3rem;
    color: var(--brand-beige);
    z-index: 10001;
  }
}
